.onebox-3dwh {
  width: 580px;
  height: 326px;
  position: relative; /* so that we can use 'absolute' inside */
  border: 1px solid #E9E9E9; /* to make it visible while it is loading */
}

.onebox-3dwh > iframe {
  border: none;
}
